body{
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
}
.top-part{
    border-left: 7px chocolate solid;
    border-image-slice: 1;
}

h1{
    font-size: 50px;
    
}

.color-orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;

}
.half-weith{
    width: 50%;
    padding-left: 5%;
}
.half-weith img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,red);
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.next-part{
   padding-top: 20px;
}
p{
    font-size: 20px;
}
#text{
    text-align: center;
}
.class{
    display: flex;
    width:90%;
    height:444%;
    
}
.color{
    color: orange;
}
.mission-item{
   
   width:22%;
   margin-left: 11%;
   margin-right: 3%;
   padding-left: 5px;
   border-radius: 11px;
   box-shadow: 10px 10px 500px rgb(147, 7, 240);
}
